---
let novedad = true;
let mensaje = "Solo ofertas en remoto";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Jerome Camarena Sebastia</h1>
		<img src="../../public/perfil.jpg" alt="" />
		<br>
		{novedad ? <span>{mensaje}</span> : ''}
		

		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eius in
			ipsum vitae animi illo perspiciatis maxime illum! Ullam ut est
			distinctio deleniti cum delectus. Minus reiciendis labore
			consectetur cupiditate.
		</p>
		<section id="conocimientos">
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>Git</li>
				<li>GitHub</li>
			</ul>
		</section>
		<section id="contacto">
			<p>@: <a href="#">jercamseb@gmail.com</a></p>
			<p>
				GitHub: <a href="https://github.com/JerryMarco92"
					>JerryMarco92</a>
			</p>
		</section>

		<article>
			<p>
				Objetivos del curso: Aprender la base para ser fullStack
				developer en un futuro proximo.
			</p>
		</article>
	</body>
</html>

<style>
	img {
		max-width: 850px;
		width: 100%;
		
	}
	* {
		
		text-align: center;
		text-decoration: none;
		list-style: none;
		
	}
	span{
		background-color: lightcoral;
	}
	ul{
		margin: auto;
		display: flex;
		justify-content: space-evenly;
		padding: 10px;
		text-align: center;
		width: 250px;
		background-color: lightgray;

	}

</style>
